/********** COLORS **********/

.bright-red {
  color: var(--bright-red);
}

.dark-blue {
  color: var(--dark-blue);
}

.dark-grayish-blue {
  color: var(--dark-grayish-blue);
}

.very-dark-blue {
  color: var(--very-dark-blue);
}

.very-pale-red {
  color: var(--very-pale-red);
}

.very-light-gray {
  color: var(--very-light-gray);
}

.bg-bright-red {
  background-color: var(--bright-red);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-dark-grayish-blue {
  background-color: var(--dark-grayish-blue);
}

.bg-very-dark-blue {
  background-color: var(--very-dark-blue);
}

.bg-very-pale-red {
  background-color: var(--very-pale-red);
}

.bg-very-light-gray {
  background-color: var(--very-light-gray);
}

/********** DISPLAY **********/

.container {
  max-width: 1100px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.d-none {
  display: none;
}

.flex {
  display: flex;
}

@media (max-width: 50em) {
  .flex {
    flex-direction: column;
  }
}

.flex-wrap {
  display: flex;
  flex-flow: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-base {
  align-items: baseline;
}

.align-end {
  align-self: flex-end;
}

.align-start {
  align-self: flex-start;
}

/* FONT SIZES */

.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.fs-5 {
  font-size: var(--fs-5);
  line-height: 1.2;
}

@media (max-width: 400px) {
  .fs-5 {
    font-size: 22px;
  }
}

.fs-6 {
  font-size: var(--fs-6);
  line-height: 1.2;
}

@media (max-width: 400px) {
  .fs-6 {
    font-size: 30px;
  }
}

/* FONT WEIGHT */

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

/********** WIDTH **********/

.w-25 {
  max-width: 25%;
  width: 100%;
}

.w-50 {
  max-width: 50%;
  width: 100%;
}

.w-75 {
  max-width: 75%;
  width: 100%;
}

.w-100 {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .w25,
  .w-50,
  .w-75 {
    max-width: 100%;
    width: 100%;
  }
}

.w-25 {
  width: 25%;
}

.text-w-10 {
  max-width: 20ch;
}

@media (max-width: 900px) {
  .w-25 {
    width: 100%;
  }
}

.mx-auto {
  margin-inline: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 1.25rem;
}

.mb-3 {
  margin-bottom: 1.75rem;
}

.mb-4 {
  margin-bottom: 2.25rem;
}

.mb-5 {
  margin-bottom: 2.75rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

/********** GAP FLEX **********/

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.gap-5 {
  gap: 50px;
}

/********** BLOCK FLOW **********/

/* where gives specificity of 0 */
:where(.flow > * + *) {
  margin-top: 10px;
}

:where(.flow-1 > * + *) {
  margin-top: 2em;
}

:where(.flow-2 > * + *) {
  margin-top: 3em;
}

:where(.flow-3 > * + *) {
  margin-top: 4em;
}

:where(.flow-4 > * + *) {
  margin-top: 6em;
}

/* second way - more readable */
/* :where(.flow > :not(:first-child)) {
    margin-top: 1rem;
} */

/********** POSITION **********/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
